{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<!DOCTYPE html>
<html>
<head>
	<f:section name="stylesheets">
		<link rel=stylesheet href="{f:uri.resource(path: 'Styles/main.css', package: 'Js.TherapieOx')}">
	</f:section>
	<f:section name="headScripts">
		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  //_paq.push(['trackPageView']);
		  //_paq.push(['enableLinkTracking']);
		  /* disable piwik so far
		  (function() {
		    var u="//stats.schaefer-webentwicklung.de/";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', '{piwik.id}']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();*/
		</script>
		<!-- End Piwik Code -->
	</f:section>
</head>
<body>
<f:section name="body">

	<header>
	    <div class=row>
	        <div class="columns small-8 small-offset-2 medium-4 medium-offset-4 large-2 large-offset-0 logo-wrapper">

	            <a href="/" title="zurück zur Startseite">{svglogo -> f:format.raw()}</a>

	        </div>
	        <div class="columns small-12 large-offset-0 large-6 title">
	            <h1>{page.title -> f:format.raw()}</h1>
	        </div>
	    </div>
	    <div class=row data-toggle=menu-dropdown>

	    	{parts.menu -> f:format.raw()}

	    </div>

	    <div class="row-wrapper show-for-medium show-for-large">
	        <div id=menu-dropdown class="dropdown-pane float-left js_hide" data-dropdown data-hover=true data-hover-pane=true>
	            <div class="row menu-wrapper">
					{parts.togglemenu -> f:format.raw()}

	            </div>
	        </div>
	    </div>
	</header>
	<div class=content_overlay></div>

	<div class="row content">
        <div class="columns large-8 large-offset-2">
			{content.main -> f:format.raw()}
        </div>
    </div>

	<footer>
	    <div class=row>
	        <div class="columns small-12 large-6">
	            <p>{copyright -> f:format.raw()}</p>
	        </div>
	        <div class="columns small-12 large-6">
	        	{parts.footermenu -> f:format.raw()}
	        </div>
	    </div>
	</footer>



	<div class=mobile-menu>
	    <div class=menu-background style="cursor: pointer"></div>
	    <div class=app-menu-container>
	        <div class=app-menu>
	            <div class=top>
	                <div class="top-overlay logo-wrapper">
						<a href="/" title="zurück zur Startseite" rel="nofollow">{svglogo -> f:format.raw()}</a>
	                </div>
	            </div>
	            <div class=bottom>

	            	{parts.mobilmenu -> f:f:format.raw()}

	            </div>
	        </div>
	    </div>
	</div>

</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'JavaScript/vendor.js', package: 'Js.TherapieOx')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/script.js', package: 'Js.TherapieOx')}"></script>
</f:section>
</body>
</html>
