{namespace neos=Neos\Neos\ViewHelpers} {namespace media=Neos\Media\ViewHelpers}
<div class="row vita--item">
    <div class="columns small-12 medium-3 vita--date">
        <div class="vita--date-from">
            <f:if condition="{since}">
                <div class="vita--date-until">seit</div>
            </f:if>
            {neos:contentElement.editable(property: 'headline')}
        </div>
        <div class="vita--date-to">
            <f:if condition="{until}">
                <div class="vita--date-until">bis</div>
            </f:if>
            {neos:contentElement.editable(property: 'subheadline')}
        </div>
    </div>
    <div class="columns small-12 medium-9 vita--content">
        {neos:contentElement.editable(property: 'text')}
    </div>
</div>
