{namespace neos=Neos\Neos\ViewHelpers}

    <f:for each="{items}" as="item">
        <div class="{item.property.area}">
            <f:if condition="{item.property.area} != 'both'">
                <f:then>
                    <p class="header">{item.label}</p>
                </f:then>
            </f:if>
            <f:if condition="{item.subItems}">
                <ul class="vertical menu" data-accordion-menu data-multi-open="false">
                    <f:render section="submenu" arguments="{items: item.subItems}"></f:render>
                </ul>
            </f:if>
        </div>
    </f:for>

<f:section name="submenu">
    <f:if condition="{level}"><ul class="menu vertical nested" data-accordion-menu data-multi-open="false"></f:if>
    <f:for each="{items}" as="item">
        <li>
            <neos:link.node node="{item.node}" rel="nofollow" />
            <f:if condition="{item.subItems}">
                <f:render section="submenu" arguments="{items: item.subItems, level: 1}"></f:render>
            </f:if>
        </li>
    </f:for>
    <f:if condition="{level}"></ul></f:if>
</f:section>
