{namespace neos=Neos\Neos\ViewHelpers}
<ul class="vertical menu" data-accordion-menu>
    <li><a href=#>Über Mirjam Amann-Hauffe</a></li>
    <li> <a href=#>Methoden / Therapien</a>
        <ul class="menu vertical nested">
            <li><a href=#>Gespräche</a></li>
            <li><a href=#>Homöopathie</a></li>
            <li><a href=#>Bachblüten</a></li>
            <li><a href=#>Handauflegen</a></li>
            <li><a href=#>Ernährung und Co.</a></li>
        </ul>
    </li>
    <li> <a href=#>Kurse / Vorträge</a>
        <ul class="menu vertical nested">
            <li><a href=#>Spiritualität am Vormittag</a></li>
            <li><a href=#>Ernährung und Co.</a></li>
            <li><a href=#>Stress lass nach 1B</a></li>
        </ul>
    </li>
    <li class=gs><a href=#>Über Günter Schäfer</a></li>
    <li class=gs> <a href=#>Psychotherapie</a> </li>
    <li class=both> <a href=#>Paar- und Familientherapie</a> </li>
    <li class=both> <a href=#>Terminvereinbarung / Kontakt</a> </li>
    <li class=both> <a href=#>Kooperationen</a> </li>
</ul>
